@model CategoryCreateModel
@{
    Layout = "_DashboardLayout";
}
<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Kategori Oluştur</h4>

        <form asp-controller="Dashboard" asp-action="CreateCategory" method="post">
            <div class="mb-4">
                <label asp-for="@Model.Name">Kategori Adı</label>
                <input class="form-control" type="text" asp-for="@Model.Name">
                <span class="text-danger" asp-validation-for="@Model.Name"></span>
            </div>
            <div class="mb-4">
                <label asp-for="@Model.CategoryOrder">Sıra</label>
                <input value="100" class="form-control" max="5000" min="1" type="number" asp-for="@Model.CategoryOrder">
                <span class="text-danger" asp-validation-for="@Model.CategoryOrder"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>

        </form>
    </div>
</div>