@model List<Post>
@{
    Layout = "";    
}
@if (Model.Count > 0)
{
    @foreach (var post in Model)
    {
        <div class="post row ">
            <div class="col-12 ">
                <div class="post-info">
                    <a class="userName " href="/Account/UserDetail?userName=@post.user?.UserName">

                        <img src="/images/@post.user?.profilePhoto" class="post-sender-img">


                        @post.user?.UserName
                    </a><small class="post-date ">@(TimeHelper.Invoke(post.createdDate))</small>
                </div>

                <div class="post-content">
                    <a href="/Post/Index/@post.Id">
                        <h2 class="post-head ">@post.postTitle</h2>

                    </a>
                    <div class="post-footer">
                        <div>
                            @if (post.tags != null)
                            {
                                @foreach (var tag in post.tags)
                                {
                                    <a href="/Home/Index?tag=@tag.Name" class="tag ">#@tag.Name</a>
                                }
                            }
                            <a href="/Home/Index?category=@post.categoryId" class="tag ">@post.category.Name</a>
                            <i class="fa-regular fa-comments icon-comment"> </i><span>@post.comments.Count</span>

                            <i title="beğenmek için postu ziyaret etmelisiniz" class="fa-solid fa-heart icon-heart"> </i><span>@post.likeCount</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
}
else
{
    <div class="post row  " id="nopostfounded">
        <div class="col-12 p-1 post-content">
            <h5 class="p-4 post-head ">
                @ViewBag.LoadMessage
            </h5>

        </div>
    </div>
}
