@model PostUpdateModel
@section links{
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <link href="~/front/assets/css/editor.css" rel="stylesheet" />
    <link href="~/front/assets/css/write.css" rel="stylesheet" />
}
@section title{
    Fikirsun | Soru güncelleme
}

<section id="middle-forum-section" class="col-lg-9 col-12 ">
    <div class="post-area ">
        <div class="editorArea">
            <div>
                <label class="form-label">Soru</label>
                <div id="editor">
                    @Html.Raw(Model.Content)
                </div>
                <div>
                    <label class="form-label" for="">Başlık</label>
                    <input id="form-title" type="text" class="form-control" value="@Model.Title">
                    <br>
                </div>
                <div>
                    <label class="form-label" for="">Kategori Seç</label>
                    <select class="form-select" id="form-category">
                        @if (ViewBag.Categories.Count > 0)
                        {
                            @foreach (var category in ViewBag.Categories)
                            {
                                if(category.Id == Model.category.Id)
                                {
                                    <option selected value="@category.Id">@category.Name</option>

                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>

                                }
                            }
                        }

                    </select>
                    <br>
                </div>
                <label class="form-label" for="">Etiket</label>
                <div class="keyHandler">
                    <button type="button" id="addKey">+</button>
                    <input class="form-control" type="text" placeholder="Klavye + Enter" id="keysInput">
                </div>
                <div id="form-tags" class="addedKeysHolder">
                    @if (Model.Tags != null)
                    {
                        @foreach (var tag in Model.Tags)
                        {
                            if (tag != null)
                            {
                                <span onclick="$(this).remove();removeKey(@tag);">@tag</span>                                
                            }
                        }
                    }
                </div>


                <input type="hidden" id="lkey" name="tags">
                <input type="hidden" id="postId" value="@Model.Id">
                <div class="col-12">
                    <button class="write-btn" type="button" onclick="UpdateContent(this)"
                            id="write-btn">
                        Düzenle
                    </button>
                </div>
            </div>
        </div>


    </div>

</section>
<section id="right-forum-section" class="col-12 col-lg-3">
    @await Component.InvokeAsync("UserInfo")
    <div id="footer">

    @await Component.InvokeAsync("SocialMedias")
    </div>
    @await Component.InvokeAsync("Pages")

</section>

@section scripts{
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <script>
        //call addKey() by pressing Enter
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                addKey();
                return false;
            }
        });

        //call addKey() by pressing button
        $('#addKey').click(function (e) {
            addKey();
        });


        //Add key function
        function addKey() {
            var tags = [];
            $("#form-tags span").each(function () {
                tags.push($(this).text());
            });
            if (tags.length >= 3) {
                toastr.warning("En fazla 3 etiket ekleyebilirsiniz")
            } else {
                let key = $('#keysInput').val()
                if (key != '') {
                    let tag = document.createElement('span')
                    $(tag).append(key)
                    $(tag).attr('onclick', `$(this).remove();removeKey("${key}");`)
                    $('.addedKeysHolder').append(tag)
                    $('#keysInput').val('')
                    resetKey()
                }
            }
        }

        function removeKey() {
            resetKey()
        }

        //Reset all keys
        function resetKey() {

            $('#lkey').val('')
            for (let i = 1; i <= $('.addedKeysHolder span').length; i++) {
                let theKey = $(`.addedKeysHolder span:nth-child(${i})`).text()
                let prevVal = $('#lkey').val() + ','
                $('#lkey').val(prevVal + theKey)
            }
            $('#lkey').val($('#lkey').val());
            $('#keysInput').focus();


        }

        const { Editor } = toastui;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            initialEditType: 'wysiwyg',
            height: '450px'
            //initialValue: "@Model.Content" // güncellenecek veri burada geliyor editorden dolayı

        });

        editor.focus()
       

        function checkEditor(html) {
            var hasImgTag = /<img\s[^>]*>/i.test(html);
            var hasImgSrc = /<img\s[^>]*src=["'][^"']*["'][^>]*>/i.test(html);
            var isImgSrcEmpty = /<img\s[^>]*src=["'][\s]*["'][^>]*>/i.test(html);

            if (hasImgTag && hasImgSrc && !isImgSrcEmpty) {
                return true
            } else {
                var prevLength;
                do {
                    prevLength = html.length;
                    html = html
                        .replace(/<\/?[A-Za-z]+\/?>/g, '') // boş etiketleri kaldır
                        .replace(/<\/?[\s\S]*?>/g, '') // diğer boş etiketleri kaldır
                        .replace(/^\s*\n/gm, '') // boş satırları kaldır
                        .replace(/&nbsp;|&#160;/gi, ' ') // özel karakterleri boşlukla değiştir
                        .replace(/<\/?(\w+)[^>]*>/g, function (match, p1) {
                            // table tag'larını düzenle
                            if (p1.toLowerCase() === 'table') {
                                return match.replace(/[\r\n]+/g, '').replace(/>\s+</g, '><');
                            }
                            return match;
                        });
                } while (html.length !== prevLength);

                if (html.replace(/\s/g, '').length > 10) {
                    return true
                } else {
                    return false
                }
            }

        }

        const UpdateContent = (e) => {
            var tags = [];
            $("#form-tags span").each(function () {
                tags.push($(this).text());
            });
            var category = $("#form-category").val()
            var title = $("#form-title").val()

            if (title.trim().length < 5) {
                toastr.warning("Başlık en az 5 karakter olmalı")
                $("#form-title").focus()
                return
            } else if (title.trim().length >= 250) {
                toastr.warning("Başlık en fazla 250 karakter olmalı")
                $("#form-title").focus()
                return
            }
            if (category == null) {
                toastr.warning("Bir kategori seçmediniz")
                $("#form-category").focus()
                return
            }
            if (tags.length > 3) {
                toastr.warning("En fazla 3 etiket ekleyebilirsin")
                return
            }
            const postId = document.querySelector("#postId").value
            if (postId < 1) {
                toastr.warning("Düzenlemek istediğiniz id sorunlu")
                return
            }
            var html = editor.getHTML()

            var editorController = checkEditor(html)
            if (editorController) {
                if (html.toString().length > 4000000) {
                    toastr.error("İçerik çok büyük  en yüksek sınır ~ 4mb  :(")
                    return
                }

                toastr.info("Sorunuz Güncelleniyor . .")
                var post = {
                    Id: postId,
                    Title: title,
                    Content: html,
                    postCategory: category,
                    Tags: tags
                }
                fetch('/Post/UpdatePost', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(post)
                })
                    .then(
                        response => response.json()
                    )
                    .then(data => {
                        console.log("***********1************")
                        console.log(data)
                        console.log("************************")
                        if (data == true) {
                            toastr.success("Sorunuz Düzenlendi 😊")

                            setTimeout(function () {
                                window.location.href = "/Post/Index/" + postId

                            }, 1450)


                        } else {
                            toastr.warning(data)
                        }

                    })
                    .catch(error => {
                        console.error(error);
                        toastr.error("Beklenmedik bir hata oluştu");
                    });

            } else {
                toastr.warning("Soru metni 10 karakterden büyük olmalı!")
            }

        }
    </script>

}